.header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-link-main-color);
  display: block;
}

.header__logo-color {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header__navigation {
  display: flex;
  margin-left: 93px;
}

.header__navigation-item:not(:last-child) {
  margin-right: 50px;
}

.header__navigation-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
  padding: 32px 0;
  transition: color var(--timing-color-fon-shadow);
}

.header__navigation-link:hover,
.header__navigation-link:focus {
  color: #2196f3;
}

.header__contact {
  display: flex;
  margin-left: auto;
}

.header__contact-item:not(:last-child) {
  margin-right: 30px;
}

.header__contact-svg-mail,
.header__contact-svg-tel {
  margin-right: 10px;
  fill: #757575;
  display: block;
  transition: fill var(--timing-color-fon-shadow);
}

.header__contact-svg-mail:hover,
.header__contact-svg-tel:focus {
  color: #2196f3;
}

.header__contact-link-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--timing-color-fon-shadow);
}

.header__contact-link-mail:hover,
.header__contact-link-mail:focus {
  color: #2196f3;
}

.header__contact-link-mail:hover .header__contact-svg-mail,
.header__contact-link-mail:focus .header__contact-svg-mail {
  fill: currentColor;
}

.header__contact-link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--timing-color-fon-shadow);
}

.header__contact-link-tel:hover,
.header__contact-link-tel:focus {
  color: #2196f3;
}

.header__contact-link-tel:hover .header__contact-svg-tel,
.header__contact-link-tel:focus .header__contact-svg-tel {
  fill: currentColor;
}
